<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">

    <listeners>
        <listener class-name="Base.TestListener"/>
        <!--<listener class-name="Base.RetryListener"/>-->
    </listeners>

    <parameter name="appURL" value="https://www.google.com"/>

    <test name="Chrome_tests"  parallel="methods" thread-count="1">
        <parameter name="browser" value="chrome"/>
        <!--<parameter name="browser_version" value="76.0"/>-->
        <parameter name="platform" value="mac"/>
        <classes>
            <class name="Tests.FirstTest">
                <methods>
                    <include name="GOOGLE1" />
                    <include name="GOOGLE2" />
                    <include name="GOOGLE3" />
                </methods>
            </class>
        </classes>
    </test>


    <test name="Firefox_tests" parallel="methods" thread-count="1">
        <parameter name="browser" value="firefox"/>
        <parameter name="browser_version" value="69.0"/>
        <parameter name="platform" value="mac"/>
        <classes>
            <class name="Tests.FirstTest">
                <methods>
                    <include name="GOOGLE1"/>
                    <include name="GOOGLE2"/>
                    <!--<include name="GOOGLE3" />-->
                </methods>
            </class>
        </classes>
    </test>

    <test name="Safari_tests" parallel="methods" thread-count="1">
        <parameter name="browser" value="safari"/>
        <parameter name="browser_version" value="12.1.2"/>
        <parameter name="platform" value="mac"/>
        <classes>
            <class name="Tests.FirstTest">
                <methods>
                    <include name="GOOGLE1"/>
                    <include name="GOOGLE2"/>
                    <!--<include name="GOOGLE3" />-->
                </methods>
            </class>
        </classes>
    </test>
</suite>