<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite1" verbose="2" >

    <listeners>
        <listener class-name="LearningTestNG.Listeners2"/>
    </listeners>

    <test name="LoginTest">
    <classes>
        <class name="LearningTestNG.Listeners"></class>
    </classes>

</test>
</suite>